/* / mahima working / */

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* background: #C201FF; */
  /* background: linear-gradient(180deg, #C201FF, #010101); */
  background-image: url("img/[freepicdownloader.com]-abstract-sky-with-yellow-blue-colors-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;  /* Ensures the image covers the background */
  background-position: center;  /* Centers the image */
}

.form {
  width: auto;
  height: auto;
  text-align: center;
  background-color: #fff;
  font-size: 30px;
  /* border: 1px solid black; */
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #00c3ff;
}

.formLabelAgain {
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.formLabelAgain span{
  color: #00a5d7;
}

.formField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formActions {
  margin-top: 20px;
}

.formSubmitBtn {
  /* padding: 5px 15px; */
  width: 100px;
  height: 55px;
  background-color: #00c3ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.formSubmitBtn:hover {
  background-color: #fff539;
  /* padding: 7px 17px; */
  transform: scale(1.1);
  color: #00c3ff;
}

/* / css for password / */
.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  left: 93%;
  top: 43%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .form {
    padding: 15px;
  }
}
